/* font-family: 'Poppins', sans-serif; */
*{
margin: 0px;
padding: 0px;
list-style: none;
text-decoration: none;
box-sizing: border-box;
/* max-width: 100vw; */
}
/* body css  */
body {
    /* background: rgb(150, 117, 117); */

}


/* navbar  */
nav img{
    height: 75px;
    width: 120px;

}
nav{
    display: flex;
    background-color: rgb(117, 108, 108);    
}

nav h1{
    font-family: 'Poppins', sans-serif;
    width: 70vw;
    text-align: center;
    margin: auto;
    font-size: 36px;
    color: rgb(200, 211, 169);
}

nav h2 a{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 28px;
    color: rgb(200, 211, 169);
    
}
nav h2 a:hover{
    color: rgb(0, 0, 0);
    
}
nav h2{
    text-align: center;
    margin: 12px;

}

/* section1 */
#section1 img{
    display: block;
    width: 100vw;
    height: 600px;
    position: relative;
    text-align: center;
}
#section1 h1{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 43px;
    font-weight: bold;
    color: rgb(219, 82, 82);
    font-family: 'Josefin Sans', sans-serif;
}
#section1 p{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 27px;
    font-weight: bold;
    color: rgb(219, 82, 82);
    font-family: 'Josefin Sans', sans-serif;
}



/* section3 (cards) */
#section3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(187, 93, 93);
}
.container{
    margin: 10px;
    border: 1px solid rgb(211, 162, 162);
    border-radius: 10px;
}
.container:hover{
    transform: scale(1.05);
    transition: all 0.85s ease;

}
.card{
    height: 200px;
    width: 250px;
    margin-bottom: 5px;
    background-size: cover;
    border-radius: 10px;
}

.container h2{
    text-align: center;
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;

}
.container a h3{
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 15px;

}
.container a h3:hover{
    color: rgb(63, 57, 57);

}
#card-1{
    background-image: url(/images/coffee.jpg);
}

#card-2{
    background-image: url(/images/noodles.jpg);
}
#card-3{
    background-image: url(/images/momos.jpg);
}
#card-4{
    background-image: url(/images/sweets.jpg);
}
#card-5{
    background-image: url(/images/sandwic.jpg);
}

/* section4 (playstore) */
#section4 {
    display: flex;
    background-color: rgb(167, 91, 91);
}
#section4 img{
    height: 500px;
    width: 70vw;

}

#section4 h1{
    margin-top: 200px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    text-align: center;
    color: rgb(0, 0, 0);
}

/* footer  */
footer{
    background-color: rgb(180, 90, 90);
}
footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;

}
